{% extends "base.html" %}

{% block content %}

    <h1>Delete Post</h1>
    <form method="POST" action="/deletepost"/>
        <label>
            Title:
            <input id="newpost-title" type="text" name="title" />
        </label>
        <input type="hidden" name="id" value="{{newpost_id}}" />
        <br>
        <br>
        
        <input type="submit" value="Delete Post" />
    </form>


<!--    {% if post_list|length ==0 %}
        <p>No post yet</p>
    {% else%}
        <ul>
            {% for new_post in post_list %}
                <li>{{new_post.title, new_post.body}}
                    <form method="POST"/>
                        <input type="hidden" name="post-id" value="{{post.id}}" />
                        input type="submit" value="Delete Post" />
                    </form>
                </li>
            {% endfor %}
        
        
        </ul>
    {% endif %}
    -->
{% endblock %}