{% extends "base.html" %}

{% block content %}
    <h1>{{title}}</h1>
    
    <form method='post' action="/newpost">
        <label>
            Title:
            <input id="newpost-title" type="text" name="title" value="{{newpost_title}}" />
        </label>
        <br>
        <br>
        <lable>
            Post:
            <textarea id="newpost-body"  name="body">{{newpost_body}}</textarea>
        </lable>
        <input type="submit" value='Add Post' />
    </form>
   
    
    
    
{% endblock %}