{% extends "base.html" %}

{% block content %}
    <h1 style="display:inline-block;">ManiCity  <i style="font-family:courier; color:rgb(4, 0, 255); font-size:12px;">Your custom Tees</i></h1>
    <img src="c:\Users\manic\lc101\build-a-blog\images\banner.png" style= "width:640px; height:350;" longdesc="c:\Users\manic\lc101\build-a-blog\images\banner.png">
    <form method='post'>
        <label>
            New Task:
            <input type="text" name='task' />
        </label>
        <input type="submit" value='Add Task' />
    </form>


    <hr />

    {% if tasks|length == 0 %}
    <p>No tasks yet</p>
    {% else %}

        <ul>
            {% for task in tasks %}
            <li>{{task}}</li>
            
            {% endfor %}
        </ul>

    {% endif %}

    
    
{% endblock %}